@import 'views.scss';

.students-view {
  @include view;

  .selected-discipline {
    background-color: black;
    color: white;
  }

  .selected-student {
    background-color: black;
    color: white;
  }

  .table {
    @include table;
  }
}
