.btn-toolbar.login-button-bar {
  justify-content: space-evenly;
}

.bowman-background {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('./bkgr.jpg');
  -webkit-background-size: cover;
  -moz-background-size:  cover;
  -o-background-size: cover;
  background-size: cover;
}

.login-col {
  background-color: #00000044;
  color: #e2d1d1;
}
