#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* body > #root > div {
  display: flex;
  flex-direction: column;
  height: 100vh;

  /* height: 100vh; */
/*}

/* .filler-with-header {
  height: calc(100% - 9%);
}

.filler {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
} */
